extends layout

block content
    header.hero-unit(id="banner")
        .container
            h1 New Polls
            p.lead 你可以设置一个投票选项
            a(href="/newpolls" class="btn btn-lg btn-success") 新建一个投票
            a(href="/mypolls" class="btn btn-lg btn-primary") 我的投票
    my-app