footer
	p(style='padding-top:65px;') Contact me:  
		a(href='https://github.com/Caibiy')
			i.fa.fa-github.fa-fw
		|&nbsp;Github
		a(href='mailto:279285839@qq.com')
			i.fa.fa-envelope.fa-fw
		|&nbsp;Email